.header
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end

  margin-bottom: 50px
  height: 720px
  max-height: 90vh
  z-index: 10

  background-size: cover
  background-position: center top

  @media screen and #{$media-medium}
    margin-bottom: 100px

.header--top-bar
  background-color: $black
  position: absolute
  top: 0
  right: 0
  left: 0

  @media screen and #{$media-medium}
    position: fixed
    min-height: 61px
    display: flex
    justify-content: space-between
    align-items: center

.header--logo
  position: relative
  width: 60px
  margin: 20px auto
  @media screen and #{$media-medium}
    margin: 0 0 0 20px

.header--image
  display: block

.header--nav
  padding: 0 20px
  text-align: center
  @media screen and #{$media-medium}
    text-align: right

.header--content
  padding: 20px
  text-shadow: 0 0 10px rgba($black, .3)

  @media screen and #{$media-medium}
    padding: 40px

.header--title
  margin: 0 0 0 0
  font-size: 4em
  font-family: $font-headings
  color: $white;
  line-height: 1
  text-transform: uppercase  
  @media screen and #{$media-medium}
    font-size: 5em
  @media screen and #{$media-huge}
    font-size: 8em

.header--subtitle
  margin: 0
  font-family: $font-headings
  color: $white;
  font-size: 2em
  line-height: 1.1
  @media screen and #{$media-medium}
    font-size: 3em
  @media screen and #{$media-huge}
    font-size: 4.2em