.header
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: stretch
  padding: 140px 20px 10px 20px
  z-index: 100
  
  @media screen and #{$media-medium}
    padding: 140px 20px 20px 20px

  font-family: $font-headings


.header--billboard
  margin-bottom: 30px
  padding-bottom: 30px
  height: 720px
  max-height: 90vh
  z-index: 10

  color: $white;
  text-shadow: 0 0 10px rgba($black, .3)

  background-size: cover
  background-position: center top
  background-repeat: no-repeat
  background-color: $black

  &.has-top-bar
    background-position-y: 60px
  

.header__top-bar
  position: absolute
  top: 0
  right: 0
  left: 0
  backdrop-filter: blur(9px)
  background-color: rgba($black, .95)

  @media screen and #{$media-medium}
    position: fixed
    min-height: 60px
    display: flex
    justify-content: space-between
    align-items: center


.header__content
  margin: 0 auto
  width: 100%

.header__logo
  position: relative
  width: 60px
  margin: 20px auto
  @media screen and #{$media-medium}
    margin: 0 0 0 20px

.header__image
  display: block

.header__nav
  padding: 0 20px
  text-align: center
  @media screen and #{$media-medium}
    text-align: right

.header__title
  margin: 0 0 5px 0
  font-size: 4em
  line-height: 1
  text-transform: uppercase  
  @media screen and #{$media-medium}
    font-size: 5em
  @media screen and #{$media-huge}
    font-size: 8em

.header__subtitle
  margin: 0
  font-size: 2em
  line-height: 1.1
  @media screen and #{$media-medium}
    font-size: 3em
  @media screen and #{$media-huge}
    font-size: 4.2em