.nav__footer
  .nav--item
    font-size: 1.4rem
    margin: 0

    + .nav--item::before
      content: '|'
      color: $white

  .nav--link
    display: inline-block
    color: $white
    padding: 5px

    &:hover
      color: $color-highlight
