////
/// Colors
///
/// @group Settings
///
////

/// Grey scale
$white: #fff;

$grey: #9b9b9b;
$grey-light: #ccc;

$black: #1a1a1a;

// Transparent grey scale
$black-50: rgba($black, .5);

/// Utility colors
$red: #d9534f;
$green: #5cb85c;

/// Branding colors
$blue: #679fae;
$yellow: #e2b62d;

$color-main: $blue;
$color-secondary: $yellow;

/// Functionnal colors
$color-text: $black;
$color-link: $color-main;
$color-highlight: $color-secondary;
$color-error: $red;
$color-valid: $green;
