////
/// Fonts
///
/// @group Settings
///
////


/// Font fomily

$font: 'Work Sans', Arial, sans-serif;
$font-headings: 'Alice', Arial, sans-serif;

/// Fonts weight
/// They must reflect avalaible weights
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 600;
