////
/// Fonts
///
/// @group Settings
///
////


/// Font fomily
$ff-work: 'Work Sans', Arial, sans-serif;
$ff-montserrat: 'Montserrat', Arial, sans-serif;

$font: $ff-work;
$font-headings: $ff-montserrat;

/// Fonts weight
/// They must reflect avalaible weights
$fw-light: 200;
$fw-regular: 400;
$fw-semibold: 500;
