{# page.php #}
{% extends 'Layouts/base.twig' %}

{% block content %}
  {{post.content}}
{# 
  <h2 class="news-list-title">Notre Actu</h2>
  <div class="news-list">
    {% for news in posts %}
      {% include ['Partials/Components/_news.twig'] with { 'isMain' : loop.first}%}
    {% endfor %}
  </div>
  {% include 'Partials/Components/_pagination.twig' %} #}
{% endblock %}
