////
/// Headings
///
/// @group Elements
///
////
h1 {
  margin: 25px 0;
  font-size: 3.5em;
  text-transform: uppercase;
}
h2 {
  margin: 50px 0;
  font-size: 4.2em;
}

h3 {
  margin: 25px 0;
  font-size: 2.0em;
  text-transform: uppercase;
}
h4 {
  margin: 20px 0;
  font-size: 1.8em;
}
h5 {
  margin: 20px 0;
  font-size: 1.6em;
}
h6 {
  margin: 15px 0;
  font-size: 1.4em;
}
h1, h2, h3, h4, h5, h6 { line-height: 1.1; font-weight: $fw-light; font-family: $font-headings; }
