////
/// Links & buttons
///
/// @group Elements
///
////

button,
a {
  color: $color-link;
  text-decoration: none;
  transition: 300ms color;

  &:hover { color: $color-highlight; }
}
button {
  background-color: transparent;
  color: $color-link;
}
